<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxSwift_MVVM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E9DC101CBB8A0100AF44FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E9DC241CBB8A0100AF44FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E9DC2F1CBB8A0100AF44FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
